@model Reservation


<br>
<h1>Details</h1>
<br>
<div>
    <h4>Reservation</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReservationId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReservationId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumberOfGuests)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NumberOfGuests)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GuestDetailsId)
        </dt>

        <dd class="col-sm-10">
            <button class="btn btn-link gdModalBtn" data-reservation-id="@Model.ReservationId">
                @Html.DisplayFor(model => model.GuestDetailsId)
            </button>
        </dd>
        @foreach (var detail in Model.RDidNavigation)
        {
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => detail.ReservationDetailsId)
            </dt>

            <dd class="col-sm-10">
                <button class="btn btn-link rdModalBtn" data-reservation-id="@Model.ReservationId">
                    @Html.DisplayFor(model => detail.ReservationDetailsId)
                </button>
            </dd>
            
            
        }
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsPaid)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IsPaid)
        </dd>
        <dt class = "col-sm-2">
            Reservation Status
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RSidNavigation.ReservationStatusName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ReservationId">Edit</a> |
    <a asp-action="AllReservations">Back to List</a>
</div>
<div id="modalContainer" class="modal shadow" role="dialog"></div>

<script>
    $(document).ready(function () {
        $(".rdModalBtn").click(function () {
            var reservationId = $(this).data("reservation-id");
            $("#modalContainer").load("/Reservation/ReservationDetailsPartial?id=" + reservationId, function () {
                $("#modalContainer").modal("show");
            });
        });

        $(".gdModalBtn").click(function () {
            var reservationId = $(this).data("reservation-id");
            $("#modalContainer").load("/Reservation/GuestDetailsPartial?id=" + reservationId, function () {
                $("#modalContainer").modal("show");
            });
        });
    });
</script>